*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --prim-color: #0277bd;
}

body {
  min-height: 100vh;
  background: #eeeeee;
  font-family: Poppins;
}

body header,
body footer {
  height: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 10%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #e5e5e5;
  color: var(--prim-color);
}

body header h1,
body footer h1 {
  text-align: center;
  font-size: 1.7rem;
}

body main {
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 500px;
  max-height: 80vh;
  -webkit-clip-path: circle(100%);
          clip-path: circle(100%);
  -webkit-transition: 1s;
  transition: 1s;
}

body main > p {
  text-align: center;
  width: 50%;
}

body main form {
  height: 60%;
  min-height: 355px;
  width: 50%;
  min-width: 265px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: #e1e1e1;
  border-radius: 3px;
}

body main form label {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

body main form label p:nth-child(1) {
  display: none;
  visibility: hidden;
}

body main form label p:nth-child(3) {
  position: relative;
  pointer-events: none;
  -webkit-transform: translate(10px, 32px);
          transform: translate(10px, 32px);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

body main form label input {
  height: 40px;
  width: 100%;
  border-radius: 3px;
  border: none;
}

body main form label input:focus + p {
  color: var(--prim-color);
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  font-size: 0.8rem;
}

body main form label input:valid + p {
  color: var(--prim-color);
  font-size: 0.8rem;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

body main form > input {
  padding: 10px 25px;
  font-size: 0.8rem;
  border: none;
  color: #f3f3f3;
  background-color: var(--prim-color);
  border-radius: 3px;
}

main.completed {
  max-height: 0vh;
  min-height: 0px;
  -webkit-clip-path: circle(0%);
          clip-path: circle(0%);
}

.red {
  color: crimson;
}

.green {
  color: forestgreen;
}

body > section {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80vh;
  max-height: 80vh;
  -webkit-transition: 1s;
  transition: 1s;
}

body > section.completed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body > section.disappear {
  opacity: 0;
  max-height: 0vh;
}

body > .result {
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: forestgreen;
}

body > .result.completed {
  opacity: 1;
  height: 80vh;
}
/*# sourceMappingURL=style.css.map */